<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DeviceList" value="1:8101.CPU.Builder_Clock_Number,2:8102.CPU.Builder_Clock_Number"/>
    <add key ="connectionString" value="Data Source=DSS4203021\SQLEXPRESS;Initial Catalog=COSEC_ATT;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=300"/>
  </appSettings>
</configuration>